:root {
  --clr-prm-bright: hsl(31, 77%, 52%);
  --clr-prm-dark: hsl(184, 100%, 22%);
  --clr-prm-vdark: hsl(179, 100%, 13%);

  --clr-ntr-trans: hsla(0, 0%, 100%, 0.75);
  --clr-ntr-gray: hsl(0, 0%, 95%);
  --ff-cursive: "Big Shoulders Display", cursive;
  --ff-sanserif: "Lexend Deca", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

.card__container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  max-width: 100vw;
}

.card {
  min-height: 100vh;
  padding: 5em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--clr-ntr-gray);
  scroll-snap-align: start;
}

.card__title {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: var(--ff-cursive);
  font-weight: 400;
}

.card__body {
  font-family: var(--ff-sanserif);
  line-height: 2em;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.07em;
}

.card__sedan {
  background-color: var(--clr-prm-bright);
}

.card__suv {
  background-color: var(--clr-prm-dark);
}

.card__luxury {
  background-color: var(--clr-prm-vdark);
}

.icon {
  position: relative;
  margin-bottom: 3em;
}

.icon__sedan::after {
  content: url("./images/icon-sedans.svg");
  position: absolute;
  transform: scale(1.5);
  padding-left: 1em;
}

.icon__suv::after {
  content: url("./images/icon-suvs.svg");
  position: absolute;
  transform: scale(1.5);
  padding-left: 1em;
}

.icon__luxury::after {
  content: url("./images/icon-luxury.svg");
  position: absolute;
  transform: scale(1.5);
  padding-left: 1em;
}

.card__button {
  background-color: var(--clr-ntr-gray);
  border: 3px solid var(--clr-ntr-gray);
  color: var(--clr-prm-vdark);
  display: inline-block;
  max-width: max-content;
  padding: 1em 2em;
  border-radius: 50px;
  text-decoration: none;
  font-family: var(--ff-sanserif);
  font-weight: 700;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.card__sedan .card__button {
  color: var(--clr-prm-bright);
}
.card__suv .card__button {
  color: var(--clr-prm-dark);
}
.card__luxury .card__button {
  color: var(--clr-prm-vdark);
}

.card__button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}

.attribution {
  background-color: black;
  font-family: var(--ff-sanserif);
  color: var(--clr-ntr-gray);
  scroll-snap-align: end;
  padding: 0.5em 1em;
}

.attribution a {
  color: var(--clr-ntr-trans);
  text-decoration: none;
}
